.keypad {
	max-width: 500px;
	margin: 20px auto;
	text-transform: uppercase;
}
/* 
--orange: #f37b89;
	--yellow: #f9b033;
	--green: #80ccb5;
	--accent-color: #ecefec;
	--bgColor: #343d4f;
*/

.keypad > div {
	font-weight: bold;
	margin: 0.5rem;
	width: 3.5rem;
	height: 3.5rem;
	background: transparent;
	color: var(--accent-color);
	display: inline-flex;
	border-radius: 0.6rem;
	line-height: 5rem;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	border: 0.3px solid transparent;
}

.keypad > div.green {
	color: var(--green);
	border: 3px transparent;
	transition: all 0.3s ease-in;
}

.keypad > div.yellow {
	color: var(--yellow);
	border: 3px transparent;
	transition: all 0.3s ease-in;
}

.keypad > div.grey {
	color: var(--orange);
	border: 3px transparent;
	transition: all 0.3s ease-in;
}
