:root {
	--orange: #f37b89;
	--yellow: #f9b033;
	--green: #80ccb5;
	--accent-color: #ecefec;

	/* Gradient Colors */
	--start-color: #74b8c2;
	--second-color: #8696c7;
	--third-color: #d591b7;
	--last-color: #6561b1;

	--bgColor: #343d4f;
}

html {
	font-size: 62.5%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	text-align: center;
	font-size: 1.6rem;
	font-family: "Poppins", sans-serif;
	margin: 0;
	background: var(--bgColor);
}

h1 {
	font-size: 3rem;
	font-weight: 900;
	padding: 2rem 0;
	margin-bottom: 3rem;
	color: var(--yellow);
}
